apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-django
  labels:
    app: django
spec:
  type: {{ .Values.service.type }}
  selector:
    app: django
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http
